body {
    background-color: #000000;
    color: #ffffff;
    font-size: 130%;
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
}
.col-9 {
    border-right: 1px, #ffffff;
}

#main-row {
    display: flex;
    height: 90%;
}

#userpage-username {
    font-size: 3em;
}

.title {
    font-size: 3em;
    text-align: center;
}