body {
    background-color: #000000;
    color: #ffffff;
    font-size: 130%;
}

.col-9 {
    border-right: 1px, #ffffff;
}

#main-row {
    height: 700px;
}

#userpage-username {
    font-size: 3em;
}

.title {
    font-size: 3em;
    text-align: center;
}